<div class="container">
    <div *ngFor="let note of notes; let i = index" class="edit-note">
        <div *ngIf="editingIndex === i">
            <input [(ngModel)]="editText" placeholder="Edit note" (keyup.enter)="saveEdit(i)" />
            <button  (click)="saveEdit(i)">Save</button>
            <button (click)="editingIndex = null">Cancel</button>
        </div>
        <div *ngIf="editingIndex !== i" class="note">

            <app-note [note]="note"></app-note>
            <button (click)="deleteNote(i)">Delete</button>
            <button (click)="editNote(i)">Edit</button>
        </div>
    </div>

    <hr />
    <div *ngIf="notes.length === 0">
        No notes available.
    </div>

    <div *ngIf="notes.length !== 0">
        Total Notes: {{ notes.length }}
    </div>
</div>
