<div class="container">
    <div *ngFor="let note of notes; let i = index" class="edit-note">

            <app-note [note]="note"></app-note>
            <button   mat-button color="primary" (click)="deleteNote(i)">Delete</button>
            <button  mat-button color="primary" (click)="editNote(i)">Edit</button>

    </div>

    <hr />
    <div *ngIf="notes.length === 0">
        No notes available.
    </div>

    <div *ngIf="notes.length !== 0">
        Total Notes: {{ notes.length }}
    </div>
</div>
