<!-- <input enterkeyhint="enter" (keyup.enter)="post()" type="text" [(ngModel)]="noteText" placeholder="Enter your note here" (ngModelChange)="onTextChange($event)"/>   -->


<div class="container">
    <div class="input-row">
        <mat-form-field class="form">
            <mat-label>{{this.editNote ? 'Edit your note...' : 'Write your note...'}}</mat-label>

            <div class="textarea-wrapper">
                <textarea 
                    matInput 
                    cdkTextareaAutosize 
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10"
                    cdkAutosizeMaxRows="20" 
                    class="form" 
                    enterkeyhint="enter" 
                    (keyup.enter)="editNote ? saveEdit(editNote) : post()" 
                    type="text"
                    #textarea
                    [(ngModel)]="noteText"
                    (input)="onInput($event)"
                    (keyup)="updateCaret($event)"
                    (click)="updateCaret($event)"
                    [style.caretColor]="currentColour">
                </textarea>
            </div>
            <span
                class="char-count-live"
                [style.color]="currentColour"
                [style.left.px]="caret.left"
                [style.top.px]="caret.top"
                *ngIf="noteText"
            > 
            <!-- <img [src]="currentGif" alt="gif" style="height: 2em; vertical-align: middle;" [class.bounce]="gifBounce"/> -->

                {{ noteText.length + currentEmoji || 0 }}
            </span>
            <mat-hint align="end">{{noteText.length}}</mat-hint>
            <div class="actions">
                <button matSuffix mat-icon-button aria-label="clear"
                    [style.visibility]="noteText ? 'visible' : 'hidden'" (click)="noteText=''">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <button *ngIf="!this.editNote || this.editNote == null" class="post-btn" mat-raised-button (click)="post()">Post</button>

            <div *ngIf="this.editNote" class="post-btn">
                <button mat-icon-button (click)="saveEdit(this.editNote)"><mat-icon>save</mat-icon></button>
                <button mat-icon-button (click)="this.editNote=null; this.noteText=''"><mat-icon>cancel</mat-icon></button>
            </div>

        </mat-form-field>
    </div>
</div>